.wrapper {
  padding: 100px;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: minmax(10%, 150px) 1fr 10%;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.audi-logo {
  height: 40px;
  width: 120px;
  object-fit: contain;
}

.align-right {
  justify-items: end;
}

.game-title-wrapper {
  position: relative;
}

.game-title {
  position: absolute;
  transform: rotate(-90deg) translateY(100%) translateX(20%);
  bottom: 0;
  right: 0;
  white-space: nowrap;
  justify-self: baseline;
}
